* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html,
body {
  overflow-x: hidden;
  background-color: hsl(243, 96%, 9%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}

/* Scrollbar styling */
.hourly-forecast {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: hsl(243, 23%, 30%) transparent;
}

.hourly-forecast::-webkit-scrollbar {
  width: 6px;
}

.hourly-forecast::-webkit-scrollbar-track {
  background: hsl(243, 23%, 20%);
  border: 1px solid hsl(243, 23%, 30%);
}

.hourly-forecast::-webkit-scrollbar-thumb {
  background-color: hsl(243, 23%, 30%);
  border-radius: 10px;
  border: 2px solid hsl(243, 23%, 20%);
}

.hourly-forecast::-webkit-scrollbar-thumb:hover {
  background-color: hsl(243, 23%, 34%);
}

.hourly-forecast::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
